body{
    box-sizing: border-box;
}

#navbar{
    width: 20%;
    position: fixed;
    left: 0;
    height: 100%;
    border: 1px solid black;
}

ul{
    list-style-type: none;  
    margin: 0;
padding: 0;
}

header{
    font-weight: bold;
    font-size: 25px;
}

#main-doc{
    width: 75%;
    position: absolute;
    left: 25%;
}

@media (min-width: 768px) {
    body{
        margin: 0px;
        padding: 0px;
    }
}
