body{
    box-sizing: border-box;
}

#navbar{
    width: 20%;
    position: fixed;
    left: 0;
    height: 100%;
    border: 1px solid black;
}

#main-doc{
    width: 75%;
    position: fixed;
    left: 25%;
}

@media (min-width: 768px) {
    body{
        margin: 0px;
        padding: 0px;
    }
}
